<form class="example-form">
  <h2>test</h2>
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      #trigger="matAutocompleteTrigger"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="openAC($event)">
      <mat-option
        *ngFor="let option of (filteredOptions | async)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
