<mat-form-field>
  <mat-select
    placeholder="Favorite food"
    [(ngModel)]="selected"
    [disabled]="disableInput"
  >
    <ng-container *ngIf="foods$ | async as foods">
      <option *ngIf="foods.length">FOODS</option>
      <mat-option *ngFor="let food of foods" [value]="food">
        {{ food }}
      </mat-option>
    </ng-container>
    <ng-container *ngIf="cars$ | async as cars">
      <option *ngIf="cars.length">CARS</option>
      <mat-option *ngFor="let car of cars" [value]="car">
        {{ car }}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>

<button type="button" (click)="addComp()">
  add
</button>

<button type="button" (click)="removeComp()">
  remove
</button>
