<h2>Tabs</h2>
<app-nav></app-nav>

<mat-divider></mat-divider>
<h2>Select</h2>
<app-select (selection)="addRemoveLabels($event)"></app-select>

<mat-divider></mat-divider>

<!-- <router-outlet></router-outlet> -->

<h2>Append Component</h2>
<button style="display: block; width: 200px;" (click)="addComponent2()">
  Append demo
</button>

<div class="container" #container></div>

<mat-divider></mat-divider>

<h2>Subjects</h2>
<app-subjects
  [length]="dataForAppSubjectComponent.length"
  (number)="updateSubjectPosition($event)"
  [position]="SubjectComponentPosition | async"
></app-subjects>

<div>
  Array: {{ dataForAppSubjectComponent[SubjectComponentPosition | async] }}
</div>
<div>Array Pos: {{ SubjectComponentPosition | async }}</div>
<mat-divider></mat-divider>

<mat-divider></mat-divider>

<h2>Flex Form</h2>

<app-flex-form></app-flex-form>
