<router-outlet></router-outlet>
<!-- <div
  @myInsertRemoveTrigger
  id="bigbox"
  style="border: 1px solid red;"
  #container
>
  <router-outlet name="label-window"></router-outlet>
  <button (click)="closeWindow()">close</button>
  <button
    style="display: block; max-width: 200px;"
    (click)="addComponent(demoComponentClass)"
  >
    add
  </button>
</div> -->

<button
  style="display: block; width: 200px;"
  (click)="addComponent(demoComponentClass)"
>
  open
</button>

<div class="container" #container></div>
