<h1>Component Demos</h1>
<mat-divider></mat-divider>

<h2>Content Projection</h2>
<p>Paragraph in app component</p>
<app-project-content>
  <p *ngFor="let i of [1, 2, 3]">
    Index of paragraph projected into child component: {{ i }}
  </p>
</app-project-content>
<mat-divider></mat-divider>

<h2>Tabs</h2>
<app-nav></app-nav>

<mat-divider></mat-divider>

<div class="container" #container></div>

<mat-divider></mat-divider>

<h2>Subjects</h2>
<app-subjects
  [length]="dataForAppSubjectComponent.length"
  (number)="updateSubjectPosition($event)"
  [position]="SubjectComponentPosition | async"
></app-subjects>

<div>
  Array: {{ dataForAppSubjectComponent[SubjectComponentPosition | async] }}
</div>
<div>Array Pos: {{ SubjectComponentPosition | async }}</div>
<mat-divider></mat-divider>
