<div class="container">
  <div class="row">
    <div class="col-sm-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cum soluta illum assumenda hic exercitationem, molestiae
      porro temporibus sed aspernatur quam officiis veritatis optio eligendi, mollitia laudantium, quae natus perspiciatis.
    </div>
    <div class="col-sm-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore sunt unde quaerat quae quod veritatis, provident, maxime,
      expedita eveniet quisquam aperiam hic deserunt rem sit? Harum alias vitae obcaecati!
    </div>
  </div>
</div>